Issues_BIMcollab_Example/
test_response_from_BIMServer/
UML-classDiagram.dia~
env/
__pycache__/
tags
Issues_BIMcollab_Example.bcf.original
/**/test_data/tests/
/**/writer_tests/error.bcf
/**/writer_tests/error_files/
/**/writer_tests/tests/
schemas/
